.titlelogo {
    width: auto;
    height:30px;
}


/* twitter リンクアイコン */
.twitterlinkicon {
    width:50px;
    height:50px;
    margin-left: 3px;
    margin-right: 3px;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
}


/* ユーザアイコン */
.usericon {
    width:3.5em;
    height:3.5em;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
}

/* ページ切り替えボタン */
ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.page-link{
    height:40px;
}

/* 上に移動するボタン */
.movetop {
	width: 70px;
	height: 70px;
    border-radius: 50%;
    background: #436be3;
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right:3em;
    margin-bottom:3em;
    z-index: 999;
}
.movetop > .feather {
    width: 40px;
    height: 40px;
    stroke: white;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    margin:15px;
 }

/* 入力エラーの表示 */
 .input_error {
    background: #f9d7d7;
}



/* フローティングボタン：グレー */
.float-gray {
    cursor: pointer;
	width: 70px;
	height: 70px;
    border-radius: 50%;
    background: #777777;
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right:3em;
    margin-bottom:9em;
    z-index: 999;
}
.float-gray > .feather {
    width: 40px;
    height: 40px;
    stroke: white;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    margin:15px;
 }

/* フローティングボタン：ブルー */
.float-blue {
    cursor: pointer;
	width: 70px;
	height: 70px;
    border-radius: 50%;
    background: #ad1e42;
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right:3em;
    margin-bottom:9em;
    z-index: 999;
}
.float-blue > .feather {
    width: 40px;
    height: 40px;
    stroke: white;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    margin:15px;
 }



