/* twitter リンクアイコン */
.twitterlinkicon {
    width:3em;
    height:3em;
    margin-top: 1em;
    margin-left: 5px;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
}

/* #リムられリストのスタイル */
.remlist-table {
    width:100%;
}

/* #1列目のスタイル */
/*  - 列 */
table > tbody > tr > td:nth-child(1) {
    text-align: center;
    width:20%
}
/*  - ユーザアイコン */
.usericon {
    width:5em;
    height:5em;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
}


/* #2列目のスタイル */
/*  - 列 */
table > tbody > tr > td:nth-child(2) {
    width:70%
}
/*  - ユーザ名ラベル */
table > tbody > tr > td:nth-child(2) > div:nth-child(1) > span:nth-child(1) {
    font-size: 22pt;
    font-weight: bold;
}
/*  - ユーザIDラベル */
table > tbody > tr > td:nth-child(2) > div:nth-child(1) >  span:nth-child(2) {
    font-size: 18pt;
    margin-left: 1em;
}
/*  - 下段 */
table > tbody > tr > td:nth-child(2) > div:nth-child(2) {
    margin-top: 5px;
}
/*  - 下段のラベル全体 */
table > tbody > tr > td:nth-child(2) > div:nth-child(2) > span {
    font-size: 14pt;
}
/*  - 下段の後続ラベル */
table > tbody > tr > td:nth-child(2) > div:nth-child(2) > span:nth-child(n+2) {
    margin-left: 1em;
}
 

/* #3列目のスタイル */
/*  - 列 */
table > tbody > tr > td:nth-child(3) {
    width:10%
}
/*  - フォローマーク */
table > tbody > tr > td:nth-child(3) > span {
    font-size:24pt;
}