/* 観賞モードのスタイル */

/* サムネイル画像 */
.thumb-radius {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.thumb {
    cursor: pointer;
}

.thumb-back{
    /*position:absolute;*/
    z-index: 1;
}

.thumb-keep-label{
    /*position:absolute;*/
    z-index: 2;
    color:white;
    font-weight: bold;
    background-color: crimson;
    /*padding: 0.4em;*/
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.keepoff{
    display: none;
}

/* KEEPボタン */
.movetop {
	width: 70px;
	height: 70px;
    border-radius: 50%;
    background: #436be3;
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right:3em;
    margin-bottom:3em;
    z-index: 999;
}
.movetop > span {
    width: 40px;
    height: 40px;
    stroke: white;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    margin:15px;
 }
