.slideshow {
    /*親要素*/
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.height-zoom {
    height: 100vh;
    width: auto;
}

.width-zoom{
    width: 100vw;
    height: auto;
}
