/* ツイート一覧のスタイル */

/* サムネイル画像 */
.thumb-radius {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.thumb {
    cursor: pointer;
}

.keepoff{
    color:white;
    background-color: gray;
    padding: 0.2em;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.keepon{
    color:white;
    font-weight: bold;
    background-color: crimson;
    padding: 0.2em;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}